<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Password generator</h2>
    <form method="POST">
        <label for="pchar">Password characters:</label><br>
        <input type="text" id="pchar" name="pchar" value={{ default_characters }}><br>
        <label for="plen">Password length:</label><br>
        <input type="text" id="plen" name="plen" value="10"><br>
        <label for="npass">Number of passwords:</label><br>
        <input type="text" id="npass" name="npass" value="10"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>